[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
psycopg = {extras = ["binary"] }
python-dotenv = "*"
wtforms = "*"
pydantic = "*"
markdown = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
pytest-dotenv = "*"
pytest-mock = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
