{% extends 'layout.html' %}

{% block content %}


<section class="section">
    <div class="box content">
        {{ html_content|safe }}
    </div>
    <div class="block">
        <progress value="{{ words }}" max="750"
            class="progress {% if words >= 750 %}is-success{% else %}is-info{% endif %}"></progress>
        <p class="content has-text-right">
            Word Count:
            <span class="wordcount-display">{{ words }}</span>
        </p>
    </div>
    <div class="field is-grouped is-grouped-right">
        <div class="control">
            <a class="button is-primary" href="{{ url_for('edit_today') }}" {% if not is_today %}disabled{% endif %}>
                <span class="icon is-small">
                    <i class="fas fa-pen-to-square"></i>
                </span>
                <span>Edit this entry</span>
            </a>
        </div>
        <div class="control">
            <a href="{{ url_for('home') }}" class="button is-light">Go Home</a>
        </div>
    </div>
</section>

{% endblock %}