{% extends 'layout.html' %}

{% block content %}

<section class="section">
    <form id="entry-form" action="" method="post">

        {{ form.hidden_tag() }}

        <div class="field">
            <label class="label">{{ form.content.label }}</label>
            <div class="control">
                {{ form.content(class_="textarea", rows="15", placeholder="Write here! Markdown accepted.") }}
            </div>
        </div>

        <div class="block">
            <progress value="{{ entry.wdcount }}" max="750"
                class="progress {% if entry.wdcount >= 750 %}is-success{% else %}is-info{% endif %}"></progress>
            <p class="content has-text-right">
                Word Count:
                <span class="wordcount-display">{{ entry.wdcount }}</span>
            </p>
        </div>
        <div class="field is-grouped is-grouped-right">
            <div class="control">
                {{ form.submit(class_="button is-success") }}
            </div>
            <div class="control">
                <a href="{{ url_for('home') }}" class="button is-light">Cancel</a>
            </div>
        </div>
        <p></p>
    </form>
</section>

<script src="{{ url_for('static', filename='liveCounter.js') }}"></script>

{% endblock %}