{% extends 'layout.html' %}

{% block content %}


<section class="hero{% if not written_today %} is-primary{% endif %}">
    <div class="hero-body has-text-centered">
        <p class="title">Today's writing</p>
        {% if written_today %}
        <p class="subtitle">You've written {{written_today}} word(s) so far.</p>
        <a class="button is-primary" href="{{ url_for('today') }}">
            <span class="icon is-small">
                <i class="fas fa-file-lines"></i>
            </span>
            <span>Continue</span>
        </a>
        {% else %}
        <p class="subtitle">is yet to come</p>
        <a class="button" href="{{ url_for('new') }}">
            <span class="icon is-small">
                <i class="fas fa-pen-to-square"></i>
            </span>
            <span>Start writing!</span>
        </a>
        {% endif %}
    </div>
    </div>
</section>
<section class="section">
    <div class="content">
        <h2>Looking back</h2>
        <!-- <p>
            TODO: Your last entry was XX days ago / yesterday / today.
        </p> -->

        <p>
            You've written <strong>{{ entry_count }} entries</strong>.
            <!-- TODO: for a total of <strong>TOTAL_WORDCOUNT words</strong>. -->
        </p>
    </div>

    <!-- {% if past_entries %}
    <div class="block">
        <button class="button">View interesting stats</button>
    </div>
    {% endif %} -->



    {% if past_entries %}

    <div class="block">

        <nav class="panel">
            <p class="panel-heading">Recent Entries</p>
            {% for entry in past_entries %}
            <a class="panel-block">
                <span class="panel-icon">
                    <i class="fas fa-bookmark" aria-hidden="true"></i>
                </span>
                <span>
                    {{ entry.for_day }}
                    <strong>Words: {{ entry.wdcount }}</strong>
                    {{ entry.content[:50] }}...
                </span>
            </a>
            {% endfor %}
        </nav>
    </div>
    <!-- <div class="block">
        <button class="button">View your archive</button>
    </div> -->

    {% else %}

    <div class="content">
        <p>You have no past entries!</p>
    </div>

    {% endif %}
</section>

{% endblock %}